{% extends 'layout.html' %}

{% block body %}
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus neque, ipsa ex minus repellat ad eum voluptatem
    cumque vitae illo maiores quae nostrum itaque earum pariatur reprehenderit vero quidem reiciendis.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti explicabo unde, animi aliquam voluptatibus saepe
    hic facere illum ex, ab adipisci veritatis expedita soluta inventore magni sit, quibusdam molestias deserunt?</p>
{% endblock %}